main {
  height: 100vh;
  background-color: #ccc;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}

.column-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.column-container > h2:first-child {
  margin-top: 0;
}

.terminal {
  background-color: black;
  color: white;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 0.5em;
  overflow: scroll;
}

.html-output {
  background-color: rgb(255, 250, 223);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 0.5em;
  overflow: scroll;
}
